@model System.Management.Automation.PSModuleInfo

<h1>Module @Model.Name</h1>

<div>Author:     @Model.Author</div>
<div>Company:    @Model.CompanyName</div>
<div>Copyright:  @Model.Copyright</div>
<div>Desc:       @Model.Description</div>
